default:
    sd_dir: '/Volumes/OBCI'
    data_dir: '/path/to/bdf_output_dir'
    session_dir: '/path/to/sesion_db'

    session_file: 'sessions.db' 
    sql_dt_format: '%Y-%m-%d %H:%M:%S'
    file_dt_format: '%Y-%m-%d %H-%M-%S'

    user: User
    gender: Male
    birthday: 1980-01-01 12:00:00
    brand: OpenBCI
    save_csv: False
    
    